body {
  background-color: blue;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh
}

.para {
  color: red;
  font-family: Lobster;
  font-size: 3em;
}

.para2 {
  color: green;
  font-family: Roboto;
  font-size: 6em;
}

.flexContainer {
  display: flex;
  padding: 0 2em;
  justify-content: center;
  border: solid 2px green;
  background-color: #ddd;
  max-width: 400px;
}